* {
  color: white;
}

.name {
  color: aqua;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  justify-content: center;
  align-content: center;
}

.writing {
  align-self: center;
}

.pfp {
  justify-self: center;
  border-radius: 10px;
}

img {
 border-radius: 50px;
 margin: 10px;
}

h4 {
  color: orange;
}
