@tailwind base;
@tailwind components;
@tailwind utilities;

.wallpaper {
  background-image: url('./assets/wallpaper.jpeg');
  background-size: cover; /* Ensures the image covers the whole screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  height: 100vh; /* Sets the height of the element to the full viewport height */
  width: 100vw; /* Sets the width of the element to the full viewport width */
  position: absolute; /* Ensures it stays in the background */
  top: 0; /* Ensures the wallpaper is aligned to the top */
  left: 0; /* Ensures the wallpaper is aligned to the left */
  z-index: -1; /* Places the wallpaper behind the content */
}

.list {
  position: relative; /* Ensures the list content appears on top of the wallpaper */
  overflow-y: auto; /* Enables scrolling for the list */
  height: 100vh; /* Ensures the list content fills the viewport */
}

